.v-btn {
  transition: 200ms;
  font-size: 14px !important;
  font-weight: 700 !important;
  letter-spacing: 0.1em !important;
  padding: 0 20px !important;
  box-shadow: none !important;
  height: 50px !important;
}
.v-btn.dense {
  height: 38px !important;
  width: 38px !important;
  padding: 0 19px !important
}
.v-btn--fab {
  width: 50px !important;
  padding: 0 25px !important;
}
.v-btn.primary:hover {
  background-color: #213D65 !important;
}

.v-btn.dense:hover  {
  height: 38px !important;
  width: 38px !important;
}

.v-btn--fab:hover  {
  width: 50px !important;
}
.v-btn.primary:active {
  background-color: #082753 !important;
}
.v-btn.primary:before {
  display: none;
}

.v-btn.v-size--small {
  height: 28px !important;
}
.v-btn.v-btn--icon {
  width: 50px !important;
  padding: 0 25px !important;
}
.v-btn.v-btn--icon.v-size--small, .v-btn.v-btn--fab.v-size--small {
  height: 34px !important;
  width: 34px !important;
  padding: 0 !important;
}

.v-btn--icon.v-size--default {
  height: 36px !important;
  width: 36px !important;
  padding: 0 16px !important;
}
.v-tabs {
  background: #FAFAFA !important;
}
.v-tab {
  transition: 200ms;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 16px !important;
  letter-spacing: 0.04em !important;
  color: #000000 !important;
  padding: 10px 15px !important;
  border-radius: 4px !important;
  overflow: hidden;
  position: relative;
  z-index: 5;
  background: transparent;
}
.v-tab + .v-tab {
  margin-left: 5px;
}
.v-tabs-bar {
  height: auto !important;
  padding: 5px !important;
}
.v-tabs-slider-wrapper {
  border-radius: 4px;
  overflow: hidden;
  background-color: #FAFAFA !important;
}
.v-tabs-slider {
  background: #B5D5F5 !important;
  height: 42px !important;
}
.v-tabs-slider:hover{
  background: #006EB5 !important;
}
.tabs-small .v-tab {
  height: 42px !important;
  font-size: 14px !important;
  line-height: 14px !important;
  padding: 10px 15px !important;
  text-transform: none !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #000000;
  letter-spacing: 0.03em !important;
}
.tabs-small .v-tabs-slider-wrapper {
  height: 42px !important;
}
.theme--light.v-tabs > .v-tabs-bar {
  background-color: transparent !important;
}
