.v-btn {
  transition: 200ms;
  font-size: 14px !important;
  font-weight: 700 !important;
  letter-spacing: 0.1em !important;
  padding: 0 20px !important;
  box-shadow: none !important;
  height: 50px !important;
}
.v-btn::before{
  background-color: #FAFAFA;
}
.v-btn.dense {
  height: 38px !important;
  width: 38px !important;
  padding: 0 19px !important
}
.v-btn.not-rounded{
  border-radius: 0 !important;
  font-weight: 700;
  font-size: 16px !important;
  color: #000;
  border: 2px solid #000;
  letter-spacing: 0.03em !important;
}
.v-btn--fab {
  width: 50px !important;
  padding: 0 25px !important;
}
.v-btn.primary:hover {
  background-color: #213D65 !important;
}

.v-btn.dense:hover  {
  height: 38px !important;
  width: 38px !important;
}

.v-btn--fab:hover  {
  width: 50px !important;
}
.v-btn.primary:active {
  background-color: #082753 !important;
}
.v-btn.primary:before {
  display: none;
}

.v-btn.v-size--small {
  height: 28px !important;
}
.v-btn.v-btn--icon {
  width: 50px !important;
  padding: 0 25px !important;
}
.v-btn.v-btn--icon.v-size--small, .v-btn.v-btn--fab.v-size--small {
  height: 34px !important;
  width: 34px !important;
  padding: 0 !important;
}
.v-btn.v-size--default{
  font-size: 1rem !important;
}
.v-btn.red-arrow{
  font-weight: 700;
  font-size: 16px !important;
  line-height: 112.5%;
  letter-spacing: 0.03em !important;
  text-transform: uppercase;
  background-color: transparent !important;
  padding-left: 0 !important;
}
.v-btn.red-arrow:hover{
  background: #fafafa !important;
}
.v-btn.red-arrow:after{
  transition: .2s ease;
  background: url(https://design.undp.org/icons/chevron-right.svg) no-repeat left center;
  color: var(--dark-red);
  height: 20px;
  margin-left: 0.75rem;
  content: "";
  width: 13px;
}
.v-btn.red-arrow:hover:after{
  background: url(https://design.undp.org/icons/chevron-right.svg) no-repeat left center;
  transform: translate(70%, 0);
}

.v-btn--icon.v-size--default {
  height: 36px !important;
  width: 36px !important;
  padding: 0 16px !important;
}
.v-tabs {
  background: #FAFAFA !important;
}
.v-tab {
  transition: 200ms;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 16px !important;
  letter-spacing: 0.04em !important;
  color: #000000 !important;
  padding: 10px 15px !important;
  border-radius: 4px !important;
  overflow: hidden;
  position: relative;
  z-index: 5;
  background: transparent;
}
.v-tab + .v-tab {
  margin-left: 5px;
}
.v-tabs-bar {
  height: auto !important;
  padding: 5px !important;
}
.v-tabs-slider-wrapper {
  border-radius: 4px;
  overflow: hidden;
  background-color: #FAFAFA !important;
}
.v-tabs-slider {
  background: #B5D5F5 !important;
  height: 42px !important;
}
.v-tabs-slider:hover{
  background: #006EB5 !important;
}
.tabs-small .v-tab {
  height: 42px !important;
  font-size: 14px !important;
  line-height: 14px !important;
  padding: 10px 15px !important;
  text-transform: none !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #000000;
  letter-spacing: 0.03em !important;
}
.tabs-small .v-tabs-slider-wrapper {
  height: 42px !important;
}
.theme--light.v-tabs > .v-tabs-bar {
  background-color: transparent !important;
}
/* dropdown */
.v-text-field.v-select .v-input__slot{
  border-radius: 0;
  height: 50px;
  border: 2px solid #000000;
  padding: 16px;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #fafafa !important;
}
.v-icon.mdi-menu-down.theme--light{
  display: none;
}

.v-select__selections:after {
  transform: translateY(-50%);
  transition: all 200ms ease-in-out;
  background: url(https://design.undp.org/static/media/chevron-down.16c97a3f.svg) no-repeat center center;
  content: "";
  float: right;
  height: 13px;
  position: absolute;
  pointer-events: none;
  right: 5px;
  top: 50%;
  width: 20px;
}
.export-button{
  background: #006EB5 !important;
  color: #FFF !important;
  border-radius: 0 !important;
  font-size: 16 !important;
}
/* accordion */
.v-icon.mdi-chevron-down.theme--light{
  display: none;
}
.v-expansion-panel-header__icon:after {
  transform: translateY(-50%);
  transition: all 200ms ease-in-out;
  background: url(https://design.undp.org/static/media/chevron-down.16c97a3f.svg) no-repeat center center;
  content: "";
  float: right;
  height: 13px;
  position: absolute;
  pointer-events: none;
  right: 20px;
  top: 50%;
  width: 20px;
}
.v-expansion-panel-header--active .v-expansion-panel-header__icon:after{
  transform: rotate(180deg);
}