
/*.v-input {
  font-size: 14px !important;
}*/
.v-select, .v-input {
  font-weight: 600 !important;
}
.v-select fieldset , .text-field .v-text-field fieldset{
  border: none !important;
}
.v-select .v-icon:before {
  color: #000 !important
}
.v-input__slot {
  min-height: 36px !important;
  padding: 0 8px 0 18px !important;
  transition: none !important;
}
.v-input--checkbox .v-input__slot {
  min-height: 36px !important;
  padding: 0 8px 0 0px !important;
  transition: none !important;
}
.v-text-field input {
  padding: 2px 0 2px !important;
}
.v-input__append-inner {
  margin-top: 6px !important;
}
.v-select__selections {
  color: #000 !important
}
.v-select.v-input--is-disabled .v-select__selections {
  color: rgba(0, 0, 0, 0.38) !important
}
.v-select.v-input--is-disabled .v-icon:before {
  color: rgba(0, 0, 0, 0.38) !important
}
.v-input--is-focused {
  box-shadow: 0 0 4px #0468b1 !important;
  outline: 0 !important;
}
.v-select.v-select--is-multi.v-input--is-dirty .v-input__slot {
  padding: 0 8px 0 1px !important;
}
.v-text-field > .v-input__control > .v-input__slot::after{
  border:#000 !important;
}
.tooltip-content {
  background: none !important;
  padding: 0 !important;
}
.tooltip-center {
  left: 50% !important;
  transform: translateX(-50%) !important;
}
.select-floating {
  box-shadow: none;
}
.v-slider__tick {
  cursor: pointer;
}
.select-text-element{
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
