@media print {
  body .v-application .d-none-print {
    display: none !important;
  }
  body .v-application .d-block-print {
    display: block !important;
  }
  body .v-application .d-flex-print {
    display: flex !important;
  }

  body {
    transform: scale(1);
  }
  html{
    min-width: 940px;
  }

  .print-page {
    max-height: 1350px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .justify-print-space-between {
    justify: space-between !important;
  }

  .printout {
    min-height: 100vh
  }
}

.bg-printable {
  -webkit-print-color-adjust: exact !important;   /* Chrome, Safari, Edge */
  color-adjust: exact !important;                 /*Firefox*/
}
.no-page-break{
  break-after:avoid !important;
}
.page-break{
  break-after:always;
}
