.hide-print {
  visibility: hidden;
  position: absolute;
  top: -99999px;
  left: -99999px;
}
.printable-hidden {
  position: absolute !important;
  z-index: -1;
  top: -100%;
}
@media print {
  .printable-hidden {
    position: static !important;
  }
  .print-page-wrap{
    z-index: 100;
    top: 0;
    min-height: 1490px;
    max-height: 1490px;
    box-sizing: border-box;
    position: relative !important;
    overflow: hidden;
    padding-left: 40px;
    page-break-after: always;
  }
  body .v-application .d-none-print {
    display: none !important;
  }
  body .v-application .d-block-print {
    display: block !important;
  }
  body .v-application .d-flex-print {
    display: flex !important;
  }
  .hide-print {
    visibility: visible;
    position: static;
    top:-99999;
    left:-99999;
    overflow: hidden;
  }
  body {
    transform: scale(1);
    overflow: hidden;
  }
  html{
    min-width: 1000px;
    max-width: 1000px;
    overflow: hidden;
  }
  #app{
    background-color: #FFF !important;
  }
  .justify-print-space-between {
    justify: space-between !important;
  }
  .v-application .mb-print-1{
    margin-bottom: 4px !important;
  }
  .printing-4 {
    flex: 0 0 33.3333333333% !important;
    max-width: 33.3333333333% !important;
  }
  .printing-3 {
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }
  .printing-6 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
  .printing-9 {
    flex: 0 0 75% !important;
    max-width: 75% !important;
  }
  .printing-12 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .red-arrow{
    text-decoration: underline;
  }
}

.bg-printable {
  -webkit-print-color-adjust:exact !important;
  print-color-adjust:exact !important;              /*Firefox*/
}
.no-page-break{
  break-after:avoid !important;
}
.page-break{
  break-after:always;
}
.print-page-wrap_footer{
  padding-top: 40px;
}
@page {
  size: A4;
  margin-bottom:.4in;
}
