.page-header {
  font-size: 32px !important;
  color: #082753 !important;
  font-weight: bold;
  text-align: center;
}
.block-header{
  color: #000 !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}
.block-subheader{
  color: #082753;
  font-size: 18px !important;
  font-weight: 600 !important;
  text-transform: capitalize;
}
@media all and (max-width:959px) {
  .page-header {
    font-size: 24px !important;
  }
}
.text-center {
  text-align: center;
}
.v-text-field--outlined.v-input--dense .v-label {
    top: 8px;
}
.one-line_header {
  align-self: auto;
  flex: 0 1 auto !important;
  margin-right: 8px !important;
  text-overflow: none;
}
.one-line_header_full {
  align-self: auto;
  overflow: visible !important;
  margin-right: 8px !important;
  text-overflow: none;
}
.v-card__title {
  word-break: normal !important;
}
.tooltip-white.v-tooltip__content {
  color: #000 !important;
}
