body{
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'sans-serif';
}
/* homepage styles */
.full-block {
  min-width: 100%;
  min-height: 100vh;
}

/* ---------------*/
.block-header{
  color: #000 !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}
.block-subheader{
  color: #000;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: .3em;
}
.text-center {
  text-align: center;
}
.v-text-field--outlined.v-input--dense .v-label {
    top: 8px;
}
.one-line_header {
  align-self: auto;
  flex: 0 1 auto !important;
  margin-right: 8px !important;
  text-overflow: none;
}
.one-line_header_full {
  align-self: auto;
  overflow: visible !important;
  margin-right: 8px !important;
  text-overflow: none;
}
.v-card__title {
  word-break: normal !important;
}
.tooltip-white.v-tooltip__content {
  color: #000 !important;
}
.v-expansion-panel-header{
  font-size: 1.2rem !important;
}
/* undp typography */
:root{
  --blue-100: #B5D5F5;
  --blue-200: #94C4F5;
  --blue-300: #6BABEB;
  --blue-400: #4F95DD;
  --blue-500: #3288CE;
  --blue-600: #006EB5;
  --blue-700: #1F5A95;
  --white: #FFF;
  --gray-100: #FAFAFA;
  --gray-200: #F7F7F7;
  --gray-300: #EDEFF0;
  --gray-400: #D4D6D8;
  --gray-500: #A9B1B7;
  --gray-600: #55606E;
  --gray-700: #232E3D;
  --black: #000;
  --light-yellow: #FFE17E;
  --yellow: #FFEB00;
  --dark-yellow: #FBC412;
  --light-red: #FFBCB7;
  --red: #EE402D;
  --dark-red: #D12800;
  --light-green: #B8ECB6;
  --green: #6DE354;
  --dark-green: #59BA47;
  --light-azure: #A2DAF3;
  --azure: #60D4F2;
  --dark-azure: #00C1FF;
  --spacing-00: 0;
  --spacing-01: 0.125rem;
  --spacing-02: 0.25rem;
  --spacing-03: 0.5rem;
  --spacing-04: 0.75rem;
  --spacing-05: 1rem;
  --spacing-06: 1.5rem;
  --spacing-07: 2rem;
  --spacing-08: 2.5rem;
  --spacing-09: 3rem;
  --spacing-10: 4rem;
  --spacing-11: 5rem;
  --spacing-12: 6rem;
  --spacing-13: 7rem;
  --fontFamily: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'sans-serif';
}

.bold {
  font-weight: bold !important;
}

.italics {
  font-style: italic !important;
}

.small-font, .small-font p {
  font-size: 0.875rem !important;
}

.input-label {
  margin-top: 0;
  font-size: 0.875rem !important;
  line-height: 1.4;
}
p.input-label{
  margin-bottom: var(--spacing-03);
}
@media (min-width: 48em) {
  .input-label {
      font-size: 1rem !important;
  }
}
hr.undp-style {
  height: 1px;
  background-color: var(--black);
  border: none;
}

hr.undp-style.light {
  height: 1px;
  background-color: var(--gray-400);
  border: none;
}

.undp-typography p, p.undp-typography{
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.4;
}
.undp-typography.large-font p, p.undp-typography.large-font{
  font-size: 1.25rem !important;
}

@media (min-width: 48em) {
  .undp-container, .undp-typography p, p.undp-typography{
      font-size: 1.25rem;
  }
}

caption.undp-typography, h1.undp-typography, h2.undp-typography, h3.undp-typography, h4.undp-typography, h5.undp-typography, h6.undp-typography {
  margin: 0 0 0.75rem;
  padding: 0;
}
@media(min-width:48em) {
  caption.undp-typography, h1.undp-typography, h2.undp-typography, h3.undp-typography, h4.undp-typography, h5.undp-typography, h6.undp-typography.undp-typography.undp-typography.undp-typography.undp-typography {
    margin-bottom: 1rem;
  }
}

h1.undp-typography {
  font-size: 2.938rem;
  font-weight: 700;
  letter-spacing: .06rem;
  line-height: 1.08;
  text-transform: uppercase;
}

h2.undp-typography {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;
}

h3.undp-typography {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.15;
}

h4.undp-typography {
  font-size: 1.563rem;
  font-weight: 400;
  line-height: 1.15;
}

h5.undp-typography {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.15;
}
@media(min-width:64em) {
  h2.undp-typography {
    font-size: 3.438rem;
  }
  h1.undp-typography {
    font-size: 6.25rem;
  }
}

@media(min-width:48em) {
  h5.undp-typography {
    font-size: 1.563rem;
  }
  h4.undp-typography {
    font-size: 2.188rem;
  }
  h3.undp-typography {
    font-size: 2.188rem;
  }
  h2.undp-typography {
    font-size: 2.813rem;
  }
  h1.undp-typography {
    font-size: 5.125rem;
  }
  blockquote.undp-typography {
    font-size: 2.188rem;
    line-height: 1.15;
  }
  cite.undp-typography {
    font-size: 1.5rem;
  }
  code.undp-typography {
    font-size: 1.25rem;
  }
}

h6.undp-typography {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
}

a.undp-style, .undp-style a{
  background-image: linear-gradient(var(--dark-red), var(--dark-red)), linear-gradient(var(--dark-red), var(--dark-red));
  background-position: 100% 100%, -30px 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px, 0 1px;
  text-decoration: none;
  color: var(--black) !important;
}

a.undp-style:hover, .undp-style a:hover {
  animation: lineLoop-animation-for-links 2s linear infinite;
  color: var(--black);
}
/* undp stat-card */
.stat-card-container{
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-05);
  align-items: stretch;
  flex-grow: 1;
}

.stat-card {
  padding: 1.5rem 2rem;
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 24.5rem;
  background-color: var(--gray-200);
  font-size: 1.25rem;
  color: var(--black);
  transition: 300ms all;
  height: auto !important;
  opacity: .92;
}
.chips-container .stat-card{
  flex-basis: 20rem;
}
@media (max-width: 48rem) {
  .stats-card {
    padding: 1.5rem;
  }
}

@media (min-width: 48rem) {
  .undp-container, p.undp-style {
    font-size: 1.25rem;
  }
}

.stat-card:hover {
  background-color: var(--light-yellow);
}

.stat-card.no-hover:hover{  
  background-color: var(--gray-200);
}

.stat-card h2 {
  line-height: 1.09;
  text-shadow: none;
  -webkit-text-stroke: 2px var(--black);
  color: var(--gray-200);
  font-size: 5rem;
  letter-spacing: .05rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
@media (max-width: 48em) {
  .stat-card.small h2 {
    font-size: 4.375rem;
  }
}
.stat-card h3 {
  font-size: 4.375rem;
  line-height: 1.09;
  text-shadow: none;
  -webkit-text-stroke: 2px var(--black);
  color: var(--gray-200);
  letter-spacing: .05rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.stat-card h4{
  text-transform: lowercase;
}

@media (max-width: 48em) {
    .stat-card.small h3 {
      font-size: 3.5rem;
  }
}

.stat-card:hover h2 {
  color: var(--black);
}

.stat-card.no-hover:hover h2 {  
  color: var(--gray-200);
}

.stat-card:hover h3 {
  color: var(--black);
}

.stat-card.no-hover:hover h3 {
  color: var(--gray-200);
}

.stat-card h4 {
  line-height: 1.15;
  color: var(--black);
  font-size: 1.563rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.stat-card p {
  line-height: 1.15;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
/* -- headers -- */
.mobile-header h1{
  font-size: 1.1rem;
}